@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Noto+Sans+Mono&display=swap');

@font-face {
    font-family: 'Antique Olive Std Nord';
    src: url(/static/font/ANTIQUEOLIVESTD-NORD_0.OTF);
}

@import "../node_modules/bulma/sass/utilities/functions.sass";

$blurple: #6464ff;
$blurple-invert: findColorInvert($blurple);
$blurple-light: findLightColor($blurple);
$blurple-dark: findDarkColor($blurple);

$custom-colors: ("blurple": ($blurple, $blurple-invert, $blurple-light, $blurple-dark));

$family-sans-serif: 'Alumni Sans', sans-serif;
$family-monospace: 'Noto Sans Mono', monospace;
$family-secondary: 'Antique Olive Std Nord', sans-serif;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";

@import "../node_modules/bulma/sass/elements/container.sass";

@import "../node_modules/bulma/sass/grid/_all.sass";

@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";