body {
    height: calc(100vh - 16px);
    display: grid;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    color: #674EA7;
    font-size: 81px;
    margin-bottom: -1.5rem;
}

@media (min-width: 768px) {
    .header {
        font-size: 45px;
    }
}