<title>{{ index .Args 0 }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $path := .Req.URL.Path }}
{{ if not (hasPrefix $path "/") }}
    {{ $path = (printf "/%s" $path) }}
{{ end }}

<meta property="og:title" content="SCROTEGANG">
<meta property="og:description" content="The worst therapists money can't buy">
<meta property="og:url" content="https://{{ .Host }}{{ $path }}">

{{ if eq $path "/hsuhao.html" }}
    <meta property="og:image" content="https://{{ .Host }}/static/image/hsuhao-banner.png">
{{ else }}
    <meta property="og:image" content="https://{{ .Host }}/static/image/banner.png">
{{ end }}


<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="SCROTEGANG">
<meta name="twitter:description" content="The worst therapists money can't buy">

{{ if eq $path "/hsuhao.html" }}
    <meta name="twitter:image" content="https://{{ .Host }}/static/image/hsuhao-banner.png">
{{ else }}
    <meta name="twitter:image" content="https://{{ .Host }}/static/image/banner.png">
{{ end }}

<meta name="twitter:site" content="@SCROTEGANG">
<meta name="twitter:creator" content="@holedaemon">

<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
